<h1>Listing events</h1>
 
<table>
  <tr>
    <th>Date</th>
    <th>Time</th>
      <th>Place</th>
        <th>Description</th>
  </tr>
 
  <% @events.each do |event| %>
    <tr>
      <td><%= event.date %></td>
      <td><%= event.time %></td>
            <td><%= event.place %></td>
      <td><%= event.description %></td>

    </tr>
  <% end %>
</table>