<h1><%=@event.name %></h1> 

<div id="hidden-event-id" style="display: none;"><%= @event.id %></div>
 <div id="hidden-user-id" style="display: none;"><%= current_user.id %></div>

  <a href="#" class="follow-btn" id="follow-event">Follow</a> 
  <a href='##' class="unfollowEvent-btn" id='unfollow-event'>unfollow</a>