<h1><%=@intrest.intrest_name %></h1>

<div id="hidden-intrest-id" style="display: none;"><%= @intrest.id %></div>
<div id="hidden-user-id" style="display: none;"><%= current_user.id %></div>

<a href="#" class="follow-btn" id="follow-intrest">Follow</a>

<a href=" " class="unfollow-btn" id="unfollow-intrest">unfollow</a>
