<h1><%=@intrest.intrest_name	%></h1>

<% @follow = UserIntrest.find_by(user_id: current_user.id, inrest_id:@intrest.id) %>
<%  if @follow.nil? %>

	

<%= link_to "Follow" , {controller: "intrests", action: "follow", user_id: current_user.id, intrest_id: @intrest.id}  %>

<% else %>

<%= link_to "unFollow" , {controller: "intrests", action: "unfollow", user_id: current_user.id, intrest_id: @intrest.id}  %>

<%end%>
<h2><%= link_to "Specific intrest", specifics_path, intrest_id: @intrest.id %></h2>
