<h1><%=@sintrest.intrest_name	%></h1>
<% @follow = UserSpecificIntrest.find_by(user_id: current_user.id, inrest_id:@intrest.id ) %>
<%  if @follow.nil? %>

	

<%= link_to "Follow" , {controller: "specificintrests", action: "follow", user_id: current_user.id, intrest_id: @intrest.id}  %>

<% else %>

<%= link_to "unFollow" , {controller: "specificintrests", action: "unfollow", user_id: current_user.id, intrest_id: @intrest.id}  %>

<%end%>