<!DOCTYPE html>
<html>

<head>
	<title>Fakarny Home Page</title>
	<h1> Welcome to Fakarny </h1>

<title>Home Page</title>
<p>The first event notifier in Egypt</p>

</head>
<body>
    

 <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1383047162013297',
          xfbml      : true,
          version    : 'v2.1'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
 <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>
<button onclick="window.location.href='/relationships/sports.html' ">cars</button>
</form>
<button type="button">Music</button>
<button type="button">Art</button>
<button type="button">Sports</button>

 </body>
</html>


