<h1>Listing Pages</h1>

<table>
  <tr>
   <th>Page Name</th>
   <th colspan="2"></th>
  </tr>
 
  <% @pages.each do |page| %>
    <tr>
     
      <td><%= page.providername %></td>
      <td><%= link_to 'Show', page_path(page) %></td>
    </tr>
  <% end %>
</table>
