<p>
  <strong>Provider Name:</strong>
  <%= @page.providername %>
</p>
 
<p>
  <strong>About Us:</strong>
  <%= @page.providerinfo %>
</p>
<p>
  <strong>Contact Us:</strong>
  <%= @page.contactus %>
</p>