 <% @user.profile.each do |profile| %>

<p>
  <strong>Name:</strong>
  <%= @profile.name  %>
</p>

<p>
  <strong>Age:</strong>
  <%= @profile.age %>
</p>
 
<p>
  <strong>city:</strong>
  <%= @profile.city %>
</p>
